.publicidad {
    position: relative;
    width: 960px;
    height: calc(960px / 2.6);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1em;
}

.publicidad-1 {
    background-image: url("../img/inicio_1.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.publicidad-2 {
    background-image: url("../img/inicio_2.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.publicidad-3 {
    background-image: url("../img/inicio_3.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.publicidad.carrusel {
    clear: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
}

.textoCarrusel {
    padding-left: 4em;
    z-index: 2;
    text-align: center;
}

.texto-uno {
    font-size: 33px;
    font-weight: 500;
    text-shadow: 2px 2px 4px #565656;
    color: white;
    margin: 0;
}

.texto-dos {
    font-size: 35px;
    font-weight: 400;
    text-shadow: 2px 2px 4px #565656;
    color: white;
    margin-top: 0;
    margin-bottom: 0.5em;

}

.texto-tres {
    font-size: 20px;
    text-shadow: 2px 2px 4px #565656;
    color: white;
    margin: 0;
}

.texto-cuatro {
    font-size: 35px;
    text-shadow: 2px 2px 4px #565656;
    color: white;
    margin: 0;

}

.texto-cinco {
    font-size: 12px;
    text-shadow: 2px 2px 4px #565656;
    color: white;
    margin-bottom: 1.7em;
    margin-top: 0;
    padding: 0;

}

.texto-seis {
    font-size: 16px;
    text-shadow: 2px 2px 4px #565656;
    color: white;
    margin-bottom: 0;
    margin-top: 0.15em;
}

.texto-siete {
    font-size: 16px;
    text-shadow: 2px 2px 4px #565656;
    color: white;
    margin-bottom: 1.2em;
    margin-top: 0.15em;
    padding: 0;
}

.promo {
    height: 250px;
    background: green;
    margin-bottom: 1em;
    margin-top: 1em;
}

.contenedor-promos {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.promos-1 {
    height: 250px;
    background-image: url("../img/promo1.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.promos-2 {
    height: 250px;
    background-image: url("../img/promo2.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.promos-3 {
    height: 250px;
    background-image: url("../img/promo3.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.promos-4 {
    height: 250px;
    background-image: url("../img/promo4.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textoPromos {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-content: center;
    min-height: 250px;
}

.rockbox {
    width: 100%;
    min-height: calc(100vw / 3.40);
    margin-bottom: 1em;
    margin-top: 0.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    background-image: url(../img/Sushi-rock-box.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media all and (max-width: 600px) {
    .contenedor-promos {
        padding-left: 0;
        padding-right: 0;
    }

    .textoCarrusel {
        padding-left: 0;
    }

    .textoCarrusel > div {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .publicidad {
        justify-content: center;
        height: calc(960px / 4.75);
    }

    .promos-1 {
        height: 160px;
        width: 100vw;
        background-image: url("../img/promo1.png");
        background-color: #cccccc;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .promos-2 {
        height: 160px;
        width: 100vw;
        background-image: url("../img/promo2.png");
        background-color: #cccccc;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .promos-3 {
        height: 160px;
        width: 100vw;
        background-image: url("../img/promo3.png");
        background-color: #cccccc;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .promos-4 {
        height: 160px;
        width: 100vw;
        background-image: url("../img/promo4.png");
        background-color: #cccccc;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media all and (max-width: 400px) {
    .textoPromos {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-content: center;
        min-height: 150px;
        height: 150px;
    }
}
