.publicidad {
    position: relative;
    width: 960px;
    height: calc(960px / 2.6);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1em;
}

.publicidad-1 {
    background-image: url("../img/inicio_1.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.publicidad-2 {
    background-image: url("../img/inicio_2.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.publicidad-3 {
    background-image: url("../img/inicio_3.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.publicidad.carrusel {
    clear: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
}

.textoCarrusel {
    padding-left: 4em;
    z-index: 2;
    text-align: center;
}

.texto-uno {
    font-size: 33px;
    font-weight: 500;
    text-shadow: 2px 2px 4px #565656;
    color: white;
    margin: 0;
}

.texto-dos {
    font-size: 35px;
    font-weight: 400;
    text-shadow: 2px 2px 4px #565656;
    color: white;
    margin-top: 0;
    margin-bottom: 0.5em;

}

.texto-tres {
    font-size: 20px;
    text-shadow: 2px 2px 4px #565656;
    color: white;
    margin: 0;
}

.texto-cuatro {
    font-size: 35px;
    text-shadow: 2px 2px 4px #565656;
    color: white;
    margin: 0;

}

.texto-cinco {
    font-size: 12px;
    text-shadow: 2px 2px 4px #565656;
    color: white;
    margin-bottom: 1.7em;
    margin-top: 0;
    padding: 0;
}

.texto-seis {
    font-size: 20px;
    text-shadow: 2px 2px 4px #565656;
    color: white;
    margin-bottom: 1.2em;
    margin-top: 0.15em;
    padding: 0;
}

.texto-siete {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin: 0;
    padding: 0;
    align-self: center;
    justify-content: center;
}

.texto-ocho {
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin: 0;
}

.texto-nueve {
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin: 0;
    padding: 0;
}

.precio-recuadro {
    font-size: 14px;
    font-weight: 500;
    color: black;
    margin-top: 1em;
    padding-right: 0.75em;
    padding-left: 0.75em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    border: 1px dashed black;
}

.alineado-derecha {
    justify-content: flex-end;
}

.promo {
    height: 250px;
    background: green;
    margin-bottom: 1em;
    margin-top: 1em;
}

.contenedor-promos {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.promos-1 {
    height: 250px;
    background-image: url("../img/promo1.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.promos-2 {
    height: 250px;
    background-image: url("../img/promo2.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.promos-3 {
    height: 250px;
    background-image: url("../img/promo3.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.promos-4 {
    height: 250px;
    background-image: url("../img/promo4.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.promos-5 {
    height: 250px;
    background-image: url("../img/promo5.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textoPromos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
}

.fondo-titulo-promos {
    background-image: url(../img/sushi-titulos-promos.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 48px;
    background-position: center;
    width: 50%;
    margin: 0;
    padding-top: 1em;
    align-items: center;
}

.rockbox {
    width: 100%;
    min-height: calc(100vw / 3.2);
    margin-bottom: 0.5em;
    margin-top: 1em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    background-image: url(../img/SUSHI-BOX.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}


@media all and (max-width: 600px) {
    .contenedor-promos {
        padding-left: 0;
        padding-right: 0;
    }

    .textoCarrusel {
        padding-left: 0;
    }

    .textoCarrusel > div {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .publicidad {
        justify-content: center;
        height: calc(960px / 4.75);
    }

    .promos-1 {
        height: 180px;
        width: 100vw;
        background-image: url("../img/promo1.png");
        background-color: #cccccc;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .promos-2 {
        height: 180px;
        width: 100vw;
        background-image: url("../img/promo2.png");
        background-color: #cccccc;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .promos-3 {
        height: 180px;
        width: 100vw;
        background-image: url("../img/promo3.png");
        background-color: #cccccc;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .promos-4 {
        height: 180px;
        width: 100vw;
        background-image: url("../img/promo4.png");
        background-color: #cccccc;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .promos-5 {
        height: 180px;
        width: 100vw;
        background-image: url("../img/promo5.png");
        background-color: #cccccc;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .texto-siete {
        font-size: 12px;
        padding-bottom: 0.25em;
        padding-top: 0.25em;
        justify-content: center;
    }

    .texto-ocho {
        font-size: 12px;
    }

    .texto-nueve {
        font-size: 10px;
    }

    .precio-recuadro {
        font-size: 12px;
        font-weight: 500;
        color: black;
        margin-top: 0.5em;
        padding-right: 0.75em;
        padding-left: 0.75em;
        padding-bottom: 0.2em;
        padding-top: 0.2em;
        border: 1px dashed black;
    }

    .al-50 {
        width: 70%;
    }

    .alineado-derecha {
        justify-content: flex-end;
    }

    .fondo-titulo-promos {

        min-height: 48px;
        background-position: center;
        width: 30%;
        margin-bottom: -1.4em;
        padding-top: 1em;
        align-items: center;
    }

    @media all and (max-width: 400px) {
        .textoPromos {
            display: flex;
            flex-direction: column;
            justify-self: end;
            align-content: flex-end;
            min-height: 96px;
            height: 96px;
        }
    }
