@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

section.delivery {
    background: #eeeeee;
}

.al-50 {
    width: 50%;
}

.delivery > div {
    padding-top: 1em;
    padding-bottom: 1em;
    background: transparent;
}

.delivery > div:last-child {
    padding-right: 2em;
}


.delivery p {
    margin: 0;
    padding: 0;
}

.icono-container {
    max-width: 72px;
}

.icono-delivery {
    height: 72px;
    width: 72px;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 72px;
}

.icono-sushi {
    background-image: url('../img/logo_chico.png');
    background-size: 64px 64px;
}

.icono-wsp {
    background-image: url(../img/celular.png);
    background-size: contain;
}

.icono-pedido {
    background-image: url(../img/preparacion.png);
    background-size: contain;
}

.icono-disfruta {
    background-image: url(../img/disfruta.png);
    background-size: contain;
}

.bullet {
    font-size: 12px;
    font-weight: bold;
}

.chiquito {
    font-size: 10px;

}

.ico-pedidos {
    background-image: url(../img/ico-rolls.png);
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: left;

}

.indentado-32 {
    padding-left: 32px;
}

.titulos-bold {
    font-weight: bold;
    font-size: 14px;
}

.bold-grande {
    font-weight: bold;
    font-size: 20px;
}

.FondoDatos-mobile {
    display: none;
}

@media all and (max-width: 600px) {

    .delivery {
        display: none;
    }

    .FondoDatos-mobile {
        background-color: #eeeeee;
        background-image: url(../img/KOI_mobile.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100vw;
        padding-bottom: 2em;
    }

    .FondoDatos-mobile p {
        margin: 0;
        padding: 0;
    }

    .delivery-mobile {
        padding-left: 6em;
    }

    .titulos-bold {
        font-weight: bold;
        font-size: 12px;
        padding-top: 2em;
        padding-bottom: -2em;
        margin: 0;

    }

    .titulos-bold {
        margin: 0;
        padding: 0;
    }

    .ico-marker {
        font-size: 24px;
        color: black;
        margin: 0;
    }

    .indentado-32 > p {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}
