.back-to-top {
    position: fixed;
    bottom: 80%;
    right: 50%;
    transform: translateX(50%);
    text-decoration: none;
    color: rgba(56, 56, 56, 0.15);
    font-size: 16px;
    padding: 1em;
    display: none;
    font-size: 32px;
    padding: 0;
    margin: 0;
    border-radius: 32px;
    z-index: 10;
}


.back-to-top:hover {
    color: rgba(56, 56, 56, 0.70);
    background-color: #ffffff00;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.padre {
    padding-top: 80px;
    width: 100%;
    max-width: 960px;
}

.padre > hr {
    width: 80%;
}

.botonera-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.botonera-menu div a {
    text-decoration: none;
    justify-content: center;
}

.entradas {
    background-image: url(../img/Entradas.png);
}

.sushis {
    background-image: url(../img/sushis.png);
}

.sushi-especiales {
    background-image: url(../img/sushi-especiales.png);
}

.sushi-salads {
    background-image: url(../img/sushi-salads.png);
}

.woks-platos {
    background-image: url(../img/Platos-calientes.png);
}

.postre {
    background-image: url(../img/Postres.png);
}

.entradas,
.sushis,
.sushi-especiales,
.sushi-salads,
.woks-platos,
.postre {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.6;
    width: 32%;
    height: calc(32vw / 2.2);
    margin: 4px;
}

.entradas:hover,
.sushis:hover,
.sushi-especiales:hover,
.sushi-salads:hover,
.woks-platos:hover,
.postre:hover {
    background-size: 110%;
    opacity: 1;
    transition: all 1.2s;
}

.btn-sin-recuadro > a {
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-shadow: 2px 2px 4px #565656;
    text-align: center;
    text-decoration: none;
}

.header-menu {
    background-image: url(../img/header_menu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vw / 7);
    margin-bottom: 1em;
}

.header-menu ~ hr {
    width: 80%;
}

.item-del-menu {
    margin-bottom: 0.5em;
}

.puntitos {
    color: black;
    height: 0px;
    border: 0.5px dashed;
    flex-grow: 4;
    margin: 0;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    align-self: flex-end;
}

.texto-del-menu {
    display: flex;
}

.precios-del-menu {
    display: block;
    min-width: 90px;
    justify-self: right;
    text-align: right;
}

.margenes-items-menu {
    margin: 0.5em;
    padding-right: 0.5em;
}

.h1-con-precio {
    font-size: 20px;
    color: #a5181b;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.span-con-precio{
    font-size: 20px;
    font-weight: 500;
    color: #a5181b;
    padding-bottom: 0.75em;
    margin-right: 1em;
}

.especiales2:before {
    display: block;
    content: " ";
    margin-top: -80px;
    height: 80px;
    visibility: hidden;
}

.entradas2:before {
    display: block;
    content: " ";
    margin-top: -80px;
    height: 80px;
    visibility: hidden;
}

.en-2columnas > div{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 0;
    padding: 0;

}

/*.puntitos::after {
    content: ".................................................................";
    background-image: url(../img/puntitos.png);
    background-size:auto;
    background-position:center;
    flex-grow: 1;
    background-repeat: repeat-x;
}*/

@media all and (max-width: 600px) {

    .entradas,
    .sushis,
    .sushi-especiales,
    .sushi-salads,
    .woks-platos,
    .postre {
        width: 48%;
    }
}

@media all and (max-width: 400px) {

    .entradas,
    .sushis,
    .sushi-especiales,
    .sushi-salads,
    .woks-platos,
    .postre {
        width: 100%;
        height: calc(40vw/2.2);
    }
    .header-menu{
        height: calc(40vw/2.2);
    }

    body {
        font-size: 11px;
    }

    h1 {
        font-size: 12px;
        text-align: center;
    }

    .indentado-32 {
        padding-left: 1em;
        padding-right: 1em;
    }
}
